@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.gradient_bg {
  /* global 94%+ browsers support */
  background: linear-gradient(
    90deg,
    rgba(11, 11, 4, 1) 0%,
    rgba(250, 255, 0, 1) 50%,
    rgba(80, 9, 9, 0.95) 100%
  );
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
