@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #fefefe;
  --btn: #e0e420;
  --text: #fefefe;
}

.gradient_bg {
  /* global 94%+ browsers support */
  background: radial-gradient(
    circle at 7% 30%,
    rgba(0, 0, 0, 0.95) 12%,
    rgba(137, 136, 51, 1) 29%,
    rgba(0, 0, 0, 0.95) 42%,
    rgba(89, 10, 10, 0.95) 93%
  );
}
.card_bg {
  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 7% 30%,
    rgba(101, 15, 43, 0.95) 11%,
    rgba(0, 0, 0, 0.95) 30%,
    rgba(101, 15, 43, 0.95) 71%
  );
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
